<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  <div class="alert alert-info">
    Others are excited to view your first micropost displayed in your feed!
  </div>
<% end %>