<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  <div class="alert alert-info">
    Micropost feed will return after refreshing the page or completing the form 
    with no errors.
  </div>
<% end %>